*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    line-height: 1.6;
    margin: 0;
}

h1, h2 {
    margin-top: 0;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Oswald";
}

.subtitle {
    color: #A59678;
    font-size: 1.875rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Oswald";
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

section, footer {
    padding: 6rem 0;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.col {
    width: 100%;
}

/* specific */

header {
    background: #2E323F;
    text-align: center;
    padding: 1.5em 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 1.125rem;
}

.nav-item {
    display: block;
    margin-top: 0.75em;
}

.cta {
    display: inline-block;
    background: #A59678;
    padding: .25em 1em;
    border-radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-list--primary {
    margin-bottom: 2em;
}

.hero {
    background: #3B4050;
    color: #fff;
    text-align: center;
    padding: 180px 0;
    font-size: 1.25rem;
}

.title {
    font-size: 3rem;
}

.title span {
    color: #A59678;
}

.section-one {
    background: #F7F7F7;
}

.section-one p {
    font-size: 1rem;
    margin-bottom: 2em;
}

.section-two__title {
    font-size: 2.25rem;
}

.section-two p {
    font-size: 1.125rem;
}

.section-two img {
    max-height: 600px;
}

.sidebar {
    padding-top: 2rem;
}

.sidebar-block {
    background: #3B4050;
    color: #fff;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

.footer {
    background: #3B4050;
}

.footer-title {
    font-size: 3rem;
    color:#fff;
}

.footer-subtitle {
    font-size: 1.3125rem;
    color:#A59678;
    margin-top: 1em;
}

.footer p, .footer a {
    font-family: "Montserrat";
    color: #fff;
}

.footer a {
    margin-right: 1em;
}

.main-col img {
    max-height: 500px;
    padding: 2rem 0;
}

@media (min-width: 700px) {
    .sidebar-row {
        display: flex;
    }
}

@media (min-width: 1000px) {

    .container {
        width: 80%
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 10%;
    }

    /* specific */

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .nav-item {
        margin: 0;
    }

    .nav-list--primary {
        margin: 0;
    }

    .hero {
        text-align: left;
        font-size: 1.5rem;
    }

    .title {
        font-size: 5rem;
        margin-bottom: 0;
    }

    .hero__title {
        max-width: 415px;
    }

    .hero__text {
        align-self: flex-end;
    }

    .section-one {
        text-align: center;
    }

    .section-one p {
        margin: 0;
        font-size: 1.125rem;
    }

    .section-two p {
    font-size: 1.3125rem;
    }

    .sidebar-row {
        display: block;
    }

    .main-col {
        width: 60%;
    }

    .aside-col{
        width: 40%;
    }

    .sidebar {
        padding-top: 0;
    }

    .sidebar-block {
        margin: 1em 0;
    }

    .col-about {
        width: 40%;
    }

    .col-more {
        width: 20%;
    }

    .footer-title {
        text-align: center;
    }

    .footer a {
        display: block;
        margin: 0 0 1em;
    }

    .main-col img {
        max-height: 1000px;
    }
}